.container{
    background-color:#3D087B;
    height:849px;
    width:1366px;
    position: relative;
}

@media (min-width:300px) and (max-width:800px){
    .container{
        background-color:#3D087B;
        height: 1500px;
        width:100vw;
        position: relative;
}
}

.clock{
    width:203px;
    height:77px;
    position: absolute;
    top:10px;
    left:124px;
}

@media (min-width:300px) and (max-width:800px){
    .clock{
        width:403px;
        height:277px;
        position: absolute;
        top:10px;
        left:10px;
    }
}
.white{
    height:363px;
    width:566px;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left:124px;

}
@media (min-width:300px) and (max-width:800px){
    .white{
        height:363px;
        width:335px;
        background-color: white;
        margin:10px;
        border-radius: 10px;
        position: absolute;
        top: 100px;
        left:10px;
    }
    
    
}
.wakeup{
    position: absolute;
    left:25px;
    top:20px;
    color:#3D087B;

}
@media (min-width:300px) and (max-width:800px){
    .wakeup{
        position: absolute;
        left:10px;
        top:20px;
        color:#3D087B;
    
    }
}
.wake{
    position:absolute;
    top:30px;
    left:80px;
    font-size: 20px;
    color:#3D087B;
}
@media (min-width:300px) and (max-width:800px){
    .wake{
        position:absolute;
        top:26px;
        left:58px;
        font-size: 20px;
        color:#3D087B;
    }
}
.wa{
    width:281px;
    height:45px;
    position:absolute;
    top:14px;
    left:250px;
    color:#3D087B;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px){
    .wa{
        width:105px;
        height:40px;
        position:absolute;
        top:14px;
        left:210px;
        color:#3D087B;
    }
}
.lunch{
    position: absolute;
    left:25px;
    top:111px;
    color:#3D087B;

}
@media (min-width:300px) and (max-width:800px){
    .lunch{
        position: absolute;
        left:10px;
        top:111px;
        color:#3D087B;
    
    }
}
.lunch1{
    position:absolute;
    top:120px;
    left:80px;
    font-size: 20px;
    color:#3D087B;
}
@media (min-width:300px) and (max-width:800px){
    .lunch1{
        position:absolute;
        top:120px;
        left:58px;
        font-size: 20px;
        color:#3D087B;
    }
}
.lunch2{
    width:281px;
    height:45px;
    position:absolute;
    top:111px;
    left:250px;
    color:#3D087B;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px){
    .lunch2{
        width:105px;
        height:40px;
        position:absolute;
        top:111px;
        left:210px;
        color:#3D087B;
    }
    
}
.nap{
    position: absolute;
    left:25px;
    top:215px;
    color:#3D087B;

}
@media (min-width:300px) and (max-width:800px){
    .nap{
        position: absolute;
        left:10px;
        top:215px;
        color:#3D087B;
    
    }
}
.nap1{
    position:absolute;
    top:215px;
    left:80px;
    font-size: 20px;
    color:#3D087B;
}
@media (min-width:300px) and (max-width:800px){
    .nap1{
        position:absolute;
        top:215px;
        left:58px;
        font-size: 20px;
        color:#3D087B;
    }
}
.nap2{
    width:281px;
    height:45px;
    position:absolute;
    top:210px;
    left:250px;
    color:#3D087B;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px){
    .nap2{
        width:105px;
        height:40px;
        position:absolute;
        top:210px;
        left:210px;
        color:#3D087B;
    }
}
.right{
    position: absolute;
    left:25px;
    top:300px;
    color:#3D087B;

}
@media (min-width:300px) and (max-width:800px){
    .right{
        position: absolute;
        left:10px;
        top:300px;
        color:#3D087B;
    
    }
}
.right1{
    position:absolute;
    top:300px;
    left:80px;
    font-size: 20px;
    color:#3D087B;
}
@media (min-width:300px) and (max-width:800px){
    .right1{
        position:absolute;
        top:300px;
        left:58px;
        font-size: 20px;
        color:#3D087B;
    }
}
.right2{
    width:281px;
    height:45px;
    position:absolute;
    top:300px;
    left:250px;
    color:#3D087B;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px){
    .right2{
        width:105px;
        height:40px;
        position:absolute;
        top:300px;
        left:210px;
        color:#3D087B;
    }
}
.good{
 width: 566px;   
 height: 77px;
 border-radius: 10px;
 border:black solid 1px;
 background-color:#FFFFFF ;
 opacity: 23%;
 position: absolute;
 top:495px;
 left:132px;
}
@media (min-width:300px) and (max-width:800px){

.good{
 width: 340px;   
 height: 77px;
 border-radius: 10px;
 border:black solid 1px;
 background-color:#FFFFFF ;
 opacity: 23%;
 position: absolute;
 top:494px;
 left:16px;
} 
}
.good1{
      position: absolute;
     left:146px;
     top:520px; 
     color: #FFFFFF;
     font: normal normal 900 27px/34px Bauhaus Hv BT;
    }
     @media (min-width:300px) and (max-width:800px){
        .good1{
        
            font-size: 16px;
            position: absolute;
            top: 518px;
            left:25px;
            color: #FFFFFF;
            /* font: normal normal 900 22px/28px Bauhaus Hv BT; */
           }
    } 
button{
    width:299px;
    height:50px;
    background-image: linear-gradient(to right,#6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
    border:black solid 1px;
    position: absolute;
    top:597px;
    left:128px;
    border-radius: 5px;
    font: normal normal 600 24px/38px Manrope;
    text-align: center;
    color:white;
    cursor: pointer;
}

@media(min-width:300px) and (max-width:800px){
    button{
        width:170px;
        height:50px;
        background-image: linear-gradient(to right,#6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
        border:black solid 1px;
        position: absolute;
        top:586px;
        left:22px;
        border-radius: 5px;
        font: normal normal 600 24px/38px Manrope;
        text-align: center;
        color:white;
        font-size: 20px;
        cursor: pointer;
    }
}


    
    

.last{
    height:105px;
    width:253px;
    position:absolute;
    top:593px;
    left:437px;
    background-color:#FFFFFF;
    opacity:23%;
    border-radius: 10px;
}
@media(min-width:300px) and (max-width:800px){
    .last{
        height:155px;
        width:170px;
        position:absolute;
        top:586px;
        left:195px;
        background-color:#FFFFFF;
        opacity:23%;
    }
}
.last1{
    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 15px/25px Manrope;
letter-spacing: 0px;
color:  #fa06ad;
opacity: 1;
} 

.last2{
    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 15px/25px Manrope;
letter-spacing: 0px;
color: #fa06ad;
opacity: 1;

} 
.last3{
    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 15px/25px Manrope;
letter-spacing: 0px;
color: #fa06ad;
opacity: 1;

} 
.last4{
    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 15px/25px Manrope;
letter-spacing: 0px;
color: #fa06ad;
opacity: 1;

} 
.layer1{
    height:130px;
    width:379px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.22;
position: absolute;
top: 67px;
left: 825px;
}

@media(min-width:300px) and (max-width:800px){
    .layer1{
        height:130px;
        width:255px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
    position: absolute;
    top:840px;
    left: 65px;
    }
}
.layer2{
    width: 416px;
height: 130px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;
position: absolute;
top: 55px;
left: 806px;
}
@media(min-width:300px) and (max-width:800px){
    .layer2{
        width: 295px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
    position: absolute;
    top: 820px;
    left:45px;
    }
    
}
.layer3{
width: 536px;
height: 130px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
position: absolute;
top: 42px;
left: 746px;
color:#3D087B;
}
@media(min-width:300px) and (max-width:800px){
    .layer3{
        width: 335px;
        height: 130px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-ededed);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        opacity: 1;
        position: absolute;
        top: 800px;
        left: 25px;
        color:#3D087B;
        }
        
}


.time{
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    color:#3D087B;
    position: absolute;
    top: 50px;
    left: 10px;
    
}

.hour{
    margin-top: 20px;
    margin-left: 80px;
   


}


@media(min-width:300px) and (max-width:800px){
   .hour{

    background-image: url("./light.png");
    position:absolute;
    margin:5px;
    height:80px;
    width: 40px;
    position: absolute;
    left:70px;
    top:20px;

}
}
.hour12{
    position: absolute;
    top:30px;
    left:101px;
    font-size: 40px;
}
@media(min-width:300px) and (max-width:800px){
    .hour12{
        position:absolute;
        left:82px;
        top:38px;
        font-size: 25px;
    }
}
.hour13{
    position: absolute;
    top:75px; 
    left:100px;
    font-size: 20px;
}
@media(min-width:300px) and (max-width:800px){
    .hour13{
        position:absolute;
        left:78px;
        
        font-size: 16px;
    }
}
.min{
    margin-top: 20px;
    margin-left: 20px;
}
@media(min-width:300px) and (max-width:800px){
    .min{
 
     background-image: url("./light.png");
     position:absolute;
     margin:5px;
     height:80px;
     width: 40px;
     position: absolute;
     left:140px;
     top:20px;
 
 }
}

.min12{
    position: absolute;
     top:30px;
    left:204px; 
    font-size: 40px;
}
@media(min-width:300px) and (max-width:800px){
    .min12{
        position:absolute;
        left:153px;
        top:38px;
        font-size: 25px;
    }
}
 .min13{
    position: absolute;
    top:75px; 
    left:205px;
    font-size: 20px;
} 
@media(min-width:300px) and (max-width:800px){
    .min13{
        position:absolute;
        left:149px;
        
        font-size: 16px;
    }
}
.sec{
    margin-top: 20px;
    margin-left: 20px;
}
@media (min-width:300px) and (max-width:800px){
    .sec{
 background-image: url("./light.png");
     position:absolute;
     margin:8px;
     height:80px;
     width: 40px;
     position: absolute;
     left:200px;
     top:18px;
 
 }
}
.sec12{
    position: absolute;
     top:30px;
    left:310px; 
    font-size: 40px;
}
@media(min-width:300px) and (max-width:800px){
    .sec12{
        position:absolute;
        left:216px;
        top:38px;
        font-size: 25px;
    }
}


 .sec13{
    position: absolute;
    top:75px; 
    left:310px;
    font-size: 20px;
}
@media(min-width:300px) and (max-width:800px){
    .sec13{
        position:absolute;
        left:214px;
        
        font-size: 16px;
    }
}
.am{
    margin-left: 20px;
}
@media(min-width:300px) and (max-width:800px){
    .am{
 
     background-image: url("./light.png");
     position:absolute;
     margin:5px;
     height:80px;
     width: 40px;
     position: absolute;
     left:260px;
     top:19px;
 
 }
}
.meridian{
    position: absolute;
     top:40px;
    left:405px; 
    font-size: 40px;
}
@media(min-width:300px) and (max-width:800px){
    .meridian{
        position:absolute;
        left:269px;
        top:50px;
        font-size: 22px;
    }
}

.isto1{
    position:absolute;
    font-size: 50px;
    top:30px;
    left:166px;
}
@media(min-width:300px) and (max-width:800px){
    .isto1{
        position:absolute;
        left:127px;
        top:42px;
        font-size: 33px;
    }
}
.isto2{
    position:absolute;
    font-size: 50px;
    top:30px;
    left:270px;
}
@media(min-width:300px) and (max-width:800px){
    .isto2{
        position:absolute;
        left:193px;
        top:42px;
        font-size: 33px;
    }
}
 
.two{
    width: 536px;
height: 118px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
position: absolute;
top: 212px;
left: 746px;
}
@media(min-width:300px) and (max-width:800px){
    .two{
        width: 335px;
    height: 118px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: 1000px;
    left: 25px;
    } 
}

 .two1{
    color:#8E53F0;
    font: normal normal 900 28px/38px Bauhaus Hv BT;
    position: absolute;
    top:26px;
}
@media(min-width:300px) and (max-width:800px){
    .two1{
        color:#8E53F0;
        font: normal normal 900 28px/38px Bauhaus Hv BT;
        padding-top: 10px;
        position:absolute;
        top:0px;

    }
} 

.window{

    position: absolute; 
    top: 345px;
    left: 747px;
    }
@media(min-width:300px) and (max-width:800px){
    .window{
        
        position: absolute; 
        top: 1150px;
        left: 25px;
        
        
    }
}
@media(min-width:300px) and (max-width:800px){
    .morning{
        height:300px;
        width: 335px;
    }
}
